:root{
    --yellow:#ffc600;
    --black: #272727;
    --grey: rgba(184, 132, 132, 0.842);
}

*{
    margin:0px;
    padding:0px;
}


header{
    border: 2px solid var(--black);
    color: var(--black);
    text-align: center;

}

.container{
    border: 2px solid var(--black);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 100px;
    text-align: center;
}

.budgetBox{
    height: 400px;
    border: 2px solid var(--black);

}